@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

.management-widget {
    background: linear-gradient(#138086, #534666);
}

.large-content {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-widget {
    background: linear-gradient(#dc8665, #138086);
}

.heading {
    font-size: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.management-content-button {
    border-radius: 10px;
    border-color: #cff4d2;
    background: #329d9c;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.button-styling {
    padding: 3px;
}

.widget-container {
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    padding: 10px;
}

.user-actions {
    border-radius: 5px;
    border-color: #dff5e3;
    background: #43aead;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.internal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.vertical-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.horizontal-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.information-widget {
    background: linear-gradient(#534666, #cd7672);
}

.budget-information-content {
    display: flexbox;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

