@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

body {
    background: #329d9c;
}



.large-content {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.management-content-button {
    border-radius: 10px;
    border-color: #cff4d2;
    background: #329d9c;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}


.main-container {
    background: linear-gradient(#56c596, #7be495);
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    display: flexbox;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-content {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.management-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.budget-information {
    display: flex;
    align-items: center;
    justify-content: center ;
}

