<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Budge</title>
    <script content="text/javascript" src="../static/js/homepage.js" th:src="@{/js/homepage.js}"></script>
    <link href="../static/css/homepage.css" th:href="@{/css/homepage.css}" rel="stylesheet"/>
</head>
<body>
    <div class="main-container">
        <div class="header-content">
            <div class="heading">
                <h1 class="heading">Budgets</h1>
            </div>
            <br/>
            <div class="large-content">
                <p class="large-content">Manage your budgets freely</p>
            </div>
        </div>
        <div class="management-content">
            <button id="display-budget-management-button" onclick="displayBudgetManagementArea();">Manage Budgets</button>
            <div id="budget-management" class="budget-management" style="visibility: hidden;">
                <label for="budget-title">Enter budget name here:</label>
                <input type="text" id="budget-title" name="budget-title" required>
                <br/><br/>
                <label for="budget-amount">Enter the budget amount here:</label>
                <input type="number" id="budget-amount" name="budget-amount" required>
                <br/><br/><br/>
                <button id="add-budget" onclick="addBudget();">Add budget</button>
                <button id="remove-budget" onclick="removeBudget();">Remove budget</button>
                <button id="view-budgets" onclick="viewBudgets();">View budgets</button>
            </div>
        </div> 

        <div id="budget-information" class="budget-information">
            <h3>Your budget information</h3>
            <br/>
            <p id="budgets"></p>
            <p id="action-prompt"></p>
        </div>
    </div>
</body>
</html>