<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Budge</title>
    <script content="text/javascript" src="../static/js/homepage.js" th:src="@{/js/homepage.js}"></script>
    <link href="../static/css/homepage.css" th:href="@{/css/homepage.css}" rel="stylesheet"/>
</head>
<body>
    <div class="horizontal-main-container">
        <div class="vertical-main-container">
            <div class="widget-container header-widget">
                <div class="heading">
                    <h1 class="heading">Budgets</h1>
                </div>
                <br/>
                <div class="large-content">
                    <p class="large-content">Manage your budgets freely</p>
                </div>  
            </div>
            <br/><br/>
            <div class="widget-container management-widget">
                <button id="display-budget-management-button" class="management-content-button button-styling" onclick="displayBudgetManagementArea();">Manage Budgets</button>
                <div id="budget-management" style="visibility: hidden; padding: 10px;">
                    <label for="budget-title">Enter budget name here:</label>
                    <input type="text" id="budget-title" name="budget-title" style="border-radius: 5px; padding: 5px;" required>
                    <br/><br/>
                    <label for="budget-amount">Enter the budget amount here:</label>
                    <input type="number" id="budget-amount" name="budget-amount" style="border-radius: 5px; padding: 5px;" required>
                    <br/><br/><br/>
                    <div id="internal-wrapper" class="internal-wrapper">
                        <button id="add-budget" onclick="addBudget();" class="button-styling user-actions">Add budget</button>
                        <button id="remove-budget" onclick="removeBudget();" class="button-styling user-actions">Remove budget</button>
                        <button id="view-budgets" onclick="viewBudgets();" class="button-styling user-actions">View budgets</button>
                    </div>
                </div>
            </div>
            <br/><br/>
            <div class="widget-container information-widget">
                <div id="budget-information-content" class="budget-information">
                    <h3>Your budget information</h3>
                    <br/>
                    <p id="budgets"></p>
                    <p id="action-prompt"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>